<div class="col s12">
  <div id="polls">
    <div id="title-block">
      {{#if poll.title}}
      <h2 id="title-line"><span id="title-text">{{poll.title}} </span<a href="{{poll.edit}}"><i id="title-edit" class="material-icons">edit_mode</i></a></h2>
      {{else}}
      <form id="title-form">
        <fieldset>
          <div class="input-group">
            <input type="text" name="title" for="title" autofocus="autofocus" placeholder="Ask a Question for Your Poll Here" class="form-control" >
            <div class="input-group-btn">
              <button type="submit" class="btn btn-info">Save</button>
            </div>
          </div>
        </fieldset>
      </form>
      {{/if}}
    </div>

    <h5 id="poll-path">
      {{#if poll.path}}
      path: <a id="path-url" href="/{{poll.path}}">http://omnivox.io/{{poll.path}}</a>
      {{/if}}
    </h5>

    {{#if poll.description}}
    <p class="flow-text"><strong>Description:  </strong>{{poll.description}}</p>
    {{else}}
    <form id="desc-form">
      <fieldset>
        <div class="input-group">
          <input type="text" name="description" for="description" placeholder="Describe what your poll is about here..." class="form-control" >
          <div class="input-group-btn">
            <button type="submit" class="btn btn-info">Save</button>
          </div>
        </div>
      </fieldset>
    </form>
    {{/if}}
  </div>
  <div class="col s12">
    <h4>Poll Items</h4>

    <form id='thought-form' class="col s12">
      <div class="input-group form-group col s12">
        <input id="description" type="textarea" name="description" for="description" placeholder="Add a response to your poll" class="form-control" >
        <div class="input-group-btn">
          <button type="submit" class="btn btn-info">Add</button>
        </div>
      </div>
    </form>

  </div><!-- /col-sm-12 -->



  {{!-- Beginning of table --}}
  <div class="col s12" id="table-start">
    <!-- Default panel contents -->
    {{!-- <div class="panel-heading"> --}}
    {{!-- <div class="dropdown rounded">

    <button class="btn btn-xs btn-danger pull-right"  data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span> Delete</button>
  </div> --}}
  {{!-- </div> --}}
  <!-- Table -->
  {{#if poll.thoughts}}
  <table id="table" class="highlight">
    <thead>
      <tr>
        <th>{{!-- <input type="checkbox" id="checkall" /> --}}</th>
        <th>Response</th>
        <th style="width:40%;">Results</th>
        <th>Votes</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="thought-tbody">
      {{#each poll.thoughts}}
      <tr>
        {{!-- <td><input type="checkbox" class="checkthis" /></td> --}}
        <td>
          {{#if this.userContained}}
          <div id="vote-buttons" class="" data-toggle="buttons">
            <label id="unvote" class="btn btn-sm btn-success">
              <input type="radio" name="{{this._id}}" id="unvote-button" autocomplete="off">
              <i class="fa fa-check"></i> Voted
            </label>
            <label id="vote" class="btn btn-sm btn-default active">
              <input type="radio" name="{{this._id}}" id="vote-button" autocomplete="off" checked>
              <i class="fa fa-warning"></i> Vote
            </label>
          </div>
          {{else}}
          <div id="vote-buttons" class="" data-toggle="buttons">
            <label id="unvote" class="btn btn-sm btn-success active">
              <input type="radio" name="{{this._id}}" id="unvote-button" autocomplete="off" checked>
              <i class="fa fa-check"></i> Voted
            </label>
            <label id="vote" class="btn btn-sm btn-default">
              <input type="radio" name="{{this._id}}" id="vote-button" autocomplete="off">
              <i class="fa fa-warning"></i> Vote
            </label>
          </div>
          {{/if}}
        </td>
        <td>{{this.description}}</td>
        <td>
          <div class="progress">
            <div class="determinate" style="width: {{this.voteWidth}}%">

            </div>
            <p>{{this.votes}}</p>
          </div>
          {{!-- <div class="progress">
          <div style="width: %;" aria-valuemax="{{poll.highestVote}}" aria-valuemin="0" aria-valuenow="{{this.votes}}" role="progressbar" class="blue progress-bar">
          <span>{{this.votes}}</span>
        </div>
      </div> --}}
    </td>
    <td>{{this.votes}}</td>
    <td>
      <div class="remove-thought" data-id="{{this._id}}">
        <button type="button" class="waves-effect waves-orange btn-flat"><span class="glyphicon glyphicon-trash"></span> </button>
      </div>
    </td>
  </tr>
  {{/each}}
</tbody>
</table>
{{/if}}

</div>


{{!-- End of table --}}
</div>
</div>

</div>
